
.moreabout{
    height: 739px;
    width: 100%;
    background-color: #00E7FF;
}
.more{
    margin-left: 47%;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
     color: #EA1179;
     width: 95px;
     border-bottom: 3px solid greenyellow;
}
.more>p{
    color: #EA1179;
}
.more11{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.more111{
    height: 200px;
    width: 200px;
    background-color: #00ff1e;
    display: flex;
    border-radius: 50%;
    background-image: url(./wed.png);
    background-size: cover;
}
.more1111{
    height: 200px;
    width: 200px;
    background-color: #00ff1e;
    display: flex;
    border-radius: 50%;
    background-image: url(./effi.png);
    background-size: cover;
}
.more11111{
    height: 200px;
    width: 200px;
    background-color: #00ff1e;
    display: flex;
    border-radius: 50%;
    background-image: url(./ga.png);
    background-size: cover;
}
.more111111{
    height: 200px;
    width: 200px;
    background-color: #00ff1e;
    display: flex;
    border-radius: 50%;
}
.more12{
    height: 50px;
    width: 100%;
    margin-top: -80px;
    display: flex;
    justify-content: space-evenly;
}
.w{
    height:50px;
    width: 230px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}
.moreabout>.more12>.w>p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.x{
    height:50px;
    width: 300px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.moreabout>.more12>.x>p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.y{
    height:50px;
    width: 350px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.moreabout>.more12>.y>p{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.more2{
    height: 60px;
    width: 100%;
    display: flex;
}
.a{
    height: 80px;
    width: 400px;
    margin-left: 100px;
}
.b{
    height: 80px;
    width: 250px;
    margin-left: 130px;
}
.c{
    height: 80px;
    width: 400px;
    margin-left: 150px;
}