.ssee {
    height: 739px;
    background-color: 	#00FFCA;
    padding-top: 0px;
    margin-top: 0px;
}
.about {
    height: 30px;
    margin-left: 650px;
    margin-top: ;
    letter-spacing: 1px;
    word-spacing: 10px;
    padding-top: 80px; 
}
.ssw>.www>h2{
    color: #4E4FEB;
}
.sse {
    margin-top: 70px;
    margin-left: 500px;
    margin-right: 300px;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 200%;
    font-size: 18px;
}
.asa {
    height: 150px;
    width: 150px;
    background-color: aqua;
    background-image: url("./photo23.jpg");
    background-size: cover;
    margin-left: 310px;
    margin-top: -13%;
    border-radius: 50%;
    border: 2px solid black;
}